.App {
  text-align: center;
  background-color: rgba(31, 32, 68, 0.712);
  background-image: -moz-element(bg.jpg)

}

.App-logo {
  /* animation: App-logo-spin infinite 20s linear; */
  height: 120px;
  border-radius: 50%;
}

.App-header {
  background-color: rgba(31, 32, 68, 0.712);
  height: 250px;
  padding: 20px;
  color: white;
}


.App-footer {
  background-color: rgba(31, 32, 68, 0.712);
  height: 250px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
  color: white;

}

.KeySkills {
  color: white;
  background-color: rgba(31, 32, 68, 0.712);

}

.PersonalProfile {
  color: gold;
  background-color: rgba(31, 32, 68, 0.712);
}
.App-intro {
  font-size: large;
  background-color: rgba(31, 32, 68, 0.712);
  color: white;

}
/* 
.App-body {
  font-size: large;
  background-color: rgb(36, 26, 48);
} */

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.CYFdis {
  border: 3px solid rgb(53, 168, 18);
  /* padding: 30px; */
  padding-left: 80px;
  padding-right: 80px;

}
/* 
.Udacity {
  background-color: orchid;
  
}

.codeyourfuture {
background-color: orange;
} */