.App {
  text-align: center;
  background-color: rgb(163, 48, 13);
}

.App-logo {
  /* animation: App-logo-spin infinite 20s linear; */
  height: 120px;
  border-radius: 50%;
}

.App-header {
  background-color: peru;
  height: 250px;
  padding: 20px;
  color: white;
}


.App-footer {
  background-color: peru;
  height: 250px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
  background-color: rgb(74, 184, 10);
}
/* 
.App-body {
  font-size: large;
  background-color: rgb(36, 26, 48);
} */

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* 
.Udacity {
  background-color: orchid;
  
}

.codeyourfuture {
background-color: orange;
} */